<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My personal webpage</title>
    <!--<link rel="stylesheet" type="text/css" href="../style/mystyle.css">-->
    <style>
        body {
            background-color: black;
            background-image: url("http://www.crvdmedia.com/crvd/wp-content/uploads/2013/02/Wood_Background.jpg");
            background-size: cover;
        }
        #name {
            font-weight: bold;
            font-size: 40px;
            color: white;
            position: fixed;
            left: 50px;
            bottom: 10px;
        }
        #about {
            font-weight: bold;
            font-size: 30px;
            color: black;
            position: fixed;
            top: 60px;
            right: 250px;
        }
        a:hover, a:active, a:visited {
            color: white;
        }
        img {
            width: 500px;
            position: fixed;
            top: 80px;
            right: 50px;
        }
        h2 {
            font-style: italic;
            font-size: 20px;
            color: white;
            position: fixed;
            left: 300px;
            bottom: 20px;
        }
    </style>
  </head>
    <body>

      <h1 id="name"><a href= "https://linkedin.com/in/drewconly">Drew Conly</a></h1>

        <h2>Future Rubyist & Student at Turing</h2>

        <img src = "http://2.bp.blogspot.com/-oMhr1OMHTQY/Uuuerf-QoEI/AAAAAAAAHrs/Z7VKsVezOp0/s1600/28p8cn.jpg">

        <h1 id="about">About Me</h1>

    </body>

</html>
